%form{ :class => "box animated" }
  %img{ :src => image_path('logo.svg') }
  %input{ :name => 'email',    :placeholder => 'email' }
  %input{ :name => 'license',  :placeholder => 'license' }  
  %span.notice
    Enter license then press enter.