.fp-modal
  .content
    %h2
      Are you sure you want to delete?
    %p.text
      Click OK to send font to the trash.

    %p.controls
      %a.button{ :class => 'ok',     :href => '#'  }
        OK
      %a.button{ :class => 'cancel', :href => '#' } 
        Cancel

.fp-modal-overlay