
<ul class='actions'>
  <li class='action'        data-action-subset='true' data-id="{{obj.id}}">Create custom subset</li>
  <li class='action danger' data-action-edit="delete" data-id="{{obj.id}}">Delete font</li>
</ul>