<div class='settings-info-tip'>
  When enabled, FontPrep will not allow you to convert fonts from foundries which have joined the blacklist. When disabled, FontPrep will silently fail when fonts on the blacklist are imported.
</div>