<div class='settings-info-tip'>
  When FontPrep exports CSS for a given font, do you prefer the CSS font-family declaration to be the actual font family <strong>or</strong> the name of the font. Enable to ensure the actual font family is always used. Note that FontPrep may not always know the family of the font, in which case the fontname will be used.
</div>