<div class='settings-info-tip'>
  Use the "Selection" pane to the left or enter a comma separated list of hexadecicimal values in the form 0x0001. You preview will be shown to the right in the preview pane.
</div>