// MAIN APP COLORS
// ===================
$fp-primary-color:            #3f9cbe;
$fp-primary-color-dark:       #2b88ab;

$text-color:                  $fp-primary-color-dark;
$base-headingfont-color:      $text-color - 5;
