// MAIN APP COLORS
// ===================
$fp-primary-color:            #95A5A6;
$fp-primary-color-dark:       #7F8C8D;

$text-color:                  $fp-primary-color-dark;
$base-headingfont-color:      $text-color - 5;
