// MAIN APP COLORS
// ===================
$fp-primary-color:            #29292b;
$fp-primary-color-dark:       #18191b;

$text-color:                  $fp-primary-color-dark;
$base-headingfont-color:      $text-color - 5;
