// MAIN APP COLORS
// ===================
$fp-primary-color:            #1fb08e;
$fp-primary-color-dark:       #0e7660;

$text-color:                  $fp-primary-color-dark;
$base-headingfont-color:      $text-color - 5;
