// MAIN APP COLORS
// ===================
$fp-primary-color:            #1c73dc;
$fp-primary-color-dark:       #0d53a5;

$text-color:                  $fp-primary-color-dark;
$base-headingfont-color:      $text-color - 5;